.title {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}

.askSquare {
    display: flex;
    justify-content: flex-end;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    margin-left: 680px;
    margin-right: 300px;
    margin-top: 50px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}